<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     
    <h2><%=deta.name%></h2>
    <h2><%=deta.id%></h2>
    <h2><%=deta.role%></h2>
    <h2><%=deta.info%></h2> 



    <h2>This is Show Route</h2>
    <h2><%=deta.name%></h2>
    <h2><%=deta.age%></h2>
</body>
</html> -->  

























